<!-- Shared scripts required by most pages. Include this partial at the end
     of your template to load core JavaScript dependencies. -->
<script src="{{ url_for('static', filename='assets/js/vendor-all.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/plugins/bootstrap/js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/pcoded.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/dark-mode.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/confirm.js') }}"></script>
